@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap%27');

.text{
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
}
.btn{
    background: #064B00;
    color: #fff;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.form-control {
    background-color: #C4C4C4;
font-family: 'Anton', sans-serif;
}

